{% extends "base.jinja" %}

{% block content %}
    <h2>Puzzle Creation</h2>
    <p>choose a puzzle type to create:</p>
    <ul>
        <li><a href="{{ url_for('puzzle.create_text_puzzle') }}">Text Puzzle</a></li>
        <li><a href="{{ url_for('puzzle.create_image_puzzle') }}">Image Puzzle</a></li>
    </ul>
{% endblock %}